@using Innovengers.Core.Entities
@using Innovengers.Services.Interfaces
@inject IUserService UserService

<ul>
@foreach (var user in users)
{
    <li>@user.Name</li>
}
</ul>

@code {
    private List<User> users = new();

    protected override async Task OnInitializedAsync()
    {
        users = new List<User> { await UserService.GetUserAsync(1) };
    }
}
using Innovengers.Services.Interfaces;
#line default
#line hidden
